@page
@model OnlineShop.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<form id="form1" name="form1">
    <div class="panel panelPrimary">
        <div class="panelBody">
            <div class="formGroup">
                <label>帳號</label>
                <input id="txtAccount" type="text" class="formControl">
            </div>
            <div class="formGroup">
                <label>密碼</label>
                <input id="passWord" type="password" class="formControl">
            </div>
        </div>
        <div class="panelFooter">
            <button id="btnPost" type="button" class="btn btnPrimary">登入</button>
            @Html.ActionLink("忘記密碼", "ForgetPwd", "Home")
        </div>
    </div>
</form>

<script src="~/js/Login.js"></script>
