@page
@model OnlineShop.Views.Home.ForgetPwdModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="form-group">
            <label>帳號</label>
            <input id="Account" type="text" class="form-control">
        </div>
    </div>
    <div class="panel-footer">
        <button id="Post" type="button" class="btn btn-primary">寄送驗證碼</button>
    </div>
</div>
