@page
@model OnlineShop.Pages.AddMemberModel
@{
    ViewBag.Title = "AddMember";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="panel panelPrimary">
    <div class="panelBody">
        <div class="formGroup">
            <label>帳號</label>
            <input id="txtAccount" type="text" class="formControl">
        </div>
        <div class="formGroup">
            <label>密碼</label>
            <input id="passWord" type="password" class="formControl">
        </div>
        <div class="formGroup">
            <label>手機號碼</label>
            <input id="txtPhone" type="text" class="formControl" style="width:15%">
        </div>
        <div class="formGroup">
            <label>信箱</label>
            <input id="txtMail" type="text" class="formControl">
        </div>
    </div>
    <div class="panelFooter">
        <button id="btnAddMember" type="button" class="btn btnPrimary">註冊</button>
    </div>
</div>

<script src="~/js/AddMember.js"></script>
