@page
@model OnlineShop.Pages.Member.MemberMenuModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-bordered" id="Table">
            <thead>
                <tr>
                    <th style="display : none">ID</th>
                    <th>姓名</th>
                    <th>地址</th>
                    <th>購物金</th>
                </tr>
            </thead>
            <tbody id="TableBody">
                <tr>
                    <td>@Model.MemberID</td>
                    <td>@Model.accName</td>
                    <td>@Model.accAddress</td>
                    <td>@Model.accGold</td>
                    <td align='center'> <input type='button' class='EditAccBtn' name='EditAccBtn' value='編輯帳號' /></td>
                </tr>
            </tbody>
            <tbody id="TableBody">
            </tbody>
        </table>
    </div>
</div>

<div id="EditBox" style="border: solid 2px; padding: 5px; display: none; position:relative; z-index:99; ">
    <form id="Editform" method="post" action="">
    </form>
</div>

<script src="~/js/MemberMenu.js"></script>
