@page
@model OnlineShop.Pages.Member.VerifyMemberModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<h5>帳號驗證</h5>
<div class="panel panelPrimary">
    <div class="panelBody">
        <div class="formGroup">
            <label>帳號</label>
            <input id="txtAccount" type="text" class="formControl">
        </div>
        <div class="formGroup">
            <label>密碼</label>
            <input id="passWord" type="password" class="formControl">
        </div>
        <div class="formGroup">
            <label>驗證碼</label>
            <input id="txtCode" type="text" class="formControl" style="width:10%" maxlength="4">
        </div>
    </div>
    <div class="panelFooter">
        <button id="btnCheckCode" type="button" class="btn btnPrimary">驗證</button>
    </div>
</div>

<script src="~/js/Member/VerifyMember.js"></script>
