@page
@model OnlineShop.Pages.ForgetPwdModel
@{
}

<div class="panel panelPrimary">
    <div class="panelBody">
        <div class="formGroup">
            <label>帳號</label>
            <input id="Account" type="text" class="formControl">
        </div>
    </div>
    <div class="panelFooter">
        <button type="button" class="btn btnPrimary">寄送驗證碼</button>
    </div>
</div>
