@page
@model OnlineShop.Pages.LoginDataModel
@{
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div>
    <label>登入者: @User.Identity.Name</label>
</div>
<div style="margin: 0 auto;">
    <button id="btnLogout">登出</button>
</div>

<script src="~/js/LoginData.js"></script>